.empty
.DS_Store
.idea
.bundle
.rvmrc
*.esproj
.sass-cache
*.swp
/assets
config/database.yml
/coverage
db/*.sqlite3
db/sphinx
config/*.sphinx.conf
log/*.log
log/*.pid
tmp
pages/output/*
public/*.html
public/system
/uploads
webrat-*
capybara-*
rerun.txt
system/uploads
