.empty
.DS_Store
.idea
.bundle
.rvmrc
*.esproj
.sass-cache
*.swp
/assets
config/database.yml
config/facebook.yml
config/twitter.yml
config/sunspot.yml
/coverage
db/*.sqlite3
db/sphinx
config/*.sphinx.conf
log/*.log
log/*.pid
log/*.lck
solr/data/
tmp
pages/output/*
public/*.html
public/system
/uploads
webrat-*
capybara-*
rerun.txt
system/uploads
